:root {
  /* Mobile-first options */
  --board-width: 100vw;
  --board-columns: 5;
  --options-width: 95vw;
  
  /* Sprite */
  --cards-sprite-columns: 8;
  --cards-aspect-ratio: 0.6293586;

  --cards-border: 1px;
  --cards-gap: 5px;
  --cards-width: calc((var(--board-width) / var(--board-columns)) - var(--cards-border) * 2 - var(--cards-gap) * 2);
  --cards-height: calc(var(--cards-width) / var(--cards-aspect-ratio));
  --player-color-h: 0;
  --player-color-s: 80%;
  --player-color-l: 60%;
  --player-color-h-blue: 217;
  --player-color-h-red: 0;
  --player-color-h-yellow: 45;
  --player-color-h-green: 120;
  --player-color-h-purple: 245;
  --player-color: hsl(var(--player-color-h), var(--player-color-s), var(--player-color-l));
  --player-color-semi-transparent: hsla(var(--player-color-h), var(--player-color-s), var(--player-color-l), 80%);
}

header {
  display: flex;
  justify-content: center;
}

header .game-logo {
  width: 30vw;
  margin: 1em;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 1.5em;
  margin: 0.5em 0;
  text-transform: uppercase;
  font-weight: bold;
}

#app {
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

/* BOARD */
#board {
  display: flex;
  flex-wrap: wrap;
  gap: var(--cards-gap);
  justify-content: center;
  align-items: center;
  width: var(--board-width);
}

.card-container {
  width: var(--cards-width);
  height: var(--cards-height);
  cursor: pointer;
  perspective: calc(var(--cards-width) * 5);
}

.card-inner {
  border: var(--cards-border) solid var(--player-color);
  border-radius: 0.8em;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  position: relative;
}

.card-inner--inactive {
  transform: rotateY(180deg);
}

.card-front,
.card-front-details,
.card-back,
.card-back__image {
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.card-front,
.card-front__title,
.card-front-details,
.card-back {
  -webkit-backface-visibility: hidden;
  /* Safari */
  backface-visibility: hidden;
  position: absolute;
}

.card-front {
  background-color: #fff;
  background-image: url(../images/characters.png);
  background-size: calc(var(--cards-sprite-columns) * 100%); 
}

.card-front__title {
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0);
  /* Centering */
  bottom: 5%;
  font-weight: bold;
  font-size: calc(var(--cards-width) * 0.18);
}

.card-front-details {
  display: none;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.card-front-details p {
  font-size: calc(var(--cards-width) * 0.1);
}

.card-back {
  transform: rotateY(180deg);
  /* Initially hidden */
  background: var(--player-color);
}

.card-back__image {
  position: absolute;
  mix-blend-mode:hard-light;
  background-image: url(../images/card-back.png);
  background-size: cover;
}

footer {
  text-align: center;
  margin-top: 2em;
}

footer aside {
  font-size: 0.5em;
  margin: 0.5em 0;
  font-style: italic;
}

@media (orientation : landscape) {
  :root {
    --board-width: 80vw;
    --options-width: 35vw;
    --board-columns: 8;
  }

  header .game-logo {
    width: 15vw;
  }
}