:root {
  --cards-sprite-columns: 8;
  --cards-aspect-ratio: 0.6293586;
  --board-width: 80vw;
  --board-columns: 8;
  --cards-border: 1px;
  --cards-width: calc((var(--board-width) / var(--board-columns)) - var(--cards-border) * 2);
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

#board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: calc(var(--board-width));
  margin: 0 auto;
}

.card-container {
  border: var(--cards-border) solid #000;
  width: var(--cards-width);
  height: calc(var(--cards-width) / var(--cards-aspect-ratio));
  position: relative;
}

.card-front, .card-front-details {
  width: 100%;
  height: 100%;
}

.card-front {
  background-image: url(../images/characters.png);
  position: relative;
  background-size: calc(var(--cards-sprite-columns) * 100%);
}

.card-front__title {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0); /* Centering */
  bottom: 5%;
  font-weight: bold;
  font-size: calc(var(--cards-width) * 0.18);
}

.card-front-details {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}

.card-front-details p {
  font-size: calc(var(--cards-width) * 0.1);
}

footer {
  text-align: center;
  margin-top: 2em;
}

footer aside {
  font-size: 0.7em;
  margin: 0.5em 0;
}

@media (orientation : portrait) {
  :root {
    --board-width: 100vw;
    --board-columns: 6;
  }
}